<!-- BEGIN OVERVIEW STATISTIC BLOCKS-->
<div class="row-fluid circle-state-overview">
    <div class="span2 responsive clearfix" data-tablet="span3" data-desktop="span2">
        <div class="circle-wrap">
            <div class="stats-circle turquoise-color">
                <i class="icon-user"></i>
            </div>
            <p>
                <strong><%= @employees %></strong>
                Employees
            </p>
        </div>
    </div>
    <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
        <div class="circle-wrap">
            <div class="stats-circle red-color">
                <i class="icon-thumbs-up"></i>
            </div>
            <p>
                <strong><%= @on_board %></strong>
                On Board
            </p>
        </div>
    </div>
    <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
        <div class="circle-wrap">
            <div class="stats-circle gray-color">
                <i class="icon-group gray-color"></i>
            </div>
            <p>
                <strong><%= @not_arrived %></strong>
                Not Yet Arrived
            </p>
        </div>
    </div>
    <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
        <div class="circle-wrap">
            <div class="stats-circle blue-color">
                <i class="icon-bar-chart blue-color"></i>
            </div>
            <p>
                <strong><%= @finished %></strong>
                Finished
            </p>
        </div>
    </div>
    <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
        <div class="circle-wrap">
            <div class="stats-circle green-color">
                <i class="icon-road green-color"></i>
            </div>
            <p>
                <strong><%= @furlough %></strong>
                On Leave
            </p>
        </div>
    </div>
    <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
        <div class="circle-wrap">
            <div class="stats-circle purple-color">
                <i class="icon-leaf purple-color"></i>
            </div>
            <p>
                <strong><%= @SickLeaves %></strong>
                Sick Leave
            </p>
        </div>
    </div>


</div>
<div class="row-fluid">
        <div class="span6">
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-user"></i> Available Staff on Mon, <%= Time.now %></h4>
                   
                </div>
                <div class="widget-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th><th>Role</th><th>Start Time</th><th>Working Time</th><th>Working From</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @list_employees.each do |user| %>
                            <tr>
                                <td><%= user.name %></td>
                                <td><%= user.role %></td>
                                <td><%= user.time_sheets.last.format_start_time.strftime('%H:%M:%S') if user.time_sheets.last.format_start_time.present? %></td>
                                <td><%= distance_of_time_in_words user.time_sheets.last.format_start_time, Time.now %></td>
                                <td>SS Office</td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="span6">
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-user"></i> Signed Off</h4>
                    
                </div>
                <div class="widget-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th><th>Role</th><th>Start Time</th><th>End Time</th><th>Total Working Time</th>
                            </tr>
                            <% @list_sign_off.each do |user| %>
                            <tr>
                                <td><%= user.name %></td>
                                <td><%= user.role %></td>
                                <td><%= user.time_sheets.last.start_time.strftime('%H:%M:%S') if user.time_sheets.last.start_time.present? %></td>
                                <td><%= user.time_sheets.last.end_time.strftime('%H:%M:%S') if user.time_sheets.last.end_time.present? %></td>
                                <td><%= distance_of_time_in_words user.time_sheets.last.format_start_time, user.time_sheets.last.format_end_time %></td>

                            </tr>
                            <% end %>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
     </div>
<!-- END OVERVIEW STATISTIC BLOCKS-->