<div class="row-fluid">
    <div class="span12 sortable">
        <!-- BEGIN SAMPLE FORMPORTLET-->
        <div class="widget">
            <div class="widget-title">
                <h4><i class="icon-reorder"></i>Registration User</h4>
            </div>
            <div class="widget-body">
                <!-- BEGIN FORM-->

              <%= simple_form_for @user, 
                html: { class: 'form-horizontal' },
                wrapper_mappings: {
                  boolean: :vertical_boolean
                } do |f| %>
                <%= f.error_notification %>

                <%= f.input :email, placeholder: 'Enter email', input_html: { value: resource.email } %>
                <%= f.input :password, placeholder: 'Password', required: true %>
                <%= f.input :password_confirmation, placeholder: 'Password Confirmation', required: true %>
                <%= f.input :name, placeholder: 'Enter Name', class: 'controls', input_html: { value: resource.name } %>
                <%= f.input :username, placeholder: 'Enter username ', input_html: { value: resource.username } %>
                <%= f.input :role, placeholder: 'Enter role ', input_html: { value: resource.role } %>
                <%= f.input :birthdate, placeholder: 'Enter birthdate ', :as => 'string', input_html: { class: 'datepicker',value: resource.birthdate } %>
                <%= f.input :phone_number, placeholder: 'Enter phone_number ', input_html: { value: resource.phone_number } %>
                <%= f.input :address, placeholder: 'Enter address ', input_html: { value: resource.address } %>
                <%= f.input :id_number, placeholder: 'Enter id_number ', input_html: { value: resource.id_number } %>
                <%= f.input :jamsostek_number, placeholder: 'Enter jamsostek_number ', input_html: { value: resource.jamsostek_number } %>
                <%= f.input :join_date, placeholder: 'Enter join_date ',:as => 'string', input_html: { class: 'datepicker',value: resource.join_date} %>
                <%= f.input :npwp, placeholder: 'Enter npwp ', input_html: { value: resource.npwp } %>
                <%= f.input :manager_id, placeholder: 'Enter manager_id ', input_html: { value: resource.manager_id } %>
                <%= f.button :submit %>
              <% end %>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>
