<h1>Discussions</h1>
<div id="discussions">
<% @discussions.each do |discussion| %>
  <div class="discussion">
    <% simple_format discussion.content %>
  </div>  
<% end %>
</div>
<p>
  <% if params[:task_id].present? && params[:todo_id].present? %>
    <%= link_to "New Discussions", new_project_task_todo_discussion_path(@discussrefer, params[:task_id], params[:todo_id]) %>
  <% else %>
    <%=link_to "New Discussions", [:new, @discussrefer, :discussion] %>
  <% end %>
</p>
