<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @discussion.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @discussion.user_id %>
</p>

<p>
  <strong>Article:</strong>
  <%= @discussion.discussrefer_id %>
</p>

<%= link_to 'Edit', edit_project_discussion_path(@discussion.discussrefer_id, @discussion.id) %> |
<%= link_to 'Back', discussion_path(@discussion.id) %>

<!--%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %-->