<div class="row-fluid">
 <div class="span12">
    <div class="widget">
      <div class="widget-title">
         <h4><i class="icon-book"></i>Editing Task</h4>
      </div>
      <div class="widget-body">

<p>
  <strong>Project Name:</strong>
  <%= link_to @task.project.name, project_path(@task.project) %>
</p>
<hr>

<%= render 'form' %>

<%= link_to 'Show', project_task_path(@task.project_id, @task.id) %> |
<%= link_to 'Back', project_path(@task.project_id) %>

      </div>
    </div>
  </div>
</div>