<div class="row-fluid">
 <div class="span12">
    <div class="widget">
          <div class="widget-title">
             <h4><i class="icon-book"></i>Detail Task</h4>
          </div>
          <div class="widget-body">

<p>
  <strong>Project Name:</strong>
  <%= link_to @task.project.name, project_path(@task.project) %>
</p>
<hr>
<p>
  <strong>Task Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<%= link_to 'Edit', edit_project_task_path(@task.project_id, @task.id) %> |
<%= link_to 'Back', project_path(@task.project) %>

<hr>

<h4>ToDos</h4>
<ul>
  <% @task.todos.each do |todo| %>
    <li>
      <p><b><%= link_to todo.name, project_task_todo_path(todo.task.project, todo.task, todo) %></b></p>
      <p><%= todo.description %></p>
      <p>Todo for: <%= todo.users.map(&:name).join(', ') %></p>
      <p>
        <% if todo.completed %>
        Done by: <%= todo.user.try(:name) %><br>
        At: <%= todo.completed_at.strftime('%a, %b %e, %Y %R') %>
        <% else %>
        <%= link_to 'Completed!!', project_task_todo_completed_path(todo.task.project, todo.task, todo), method: :post, data: { confirm: 'Sure completed?' }, class: "btn btn btn-primary" %>
        <% end %>
      </p>
      <p>
        <%= link_to 'Edit', edit_project_task_todo_path(todo.task.project.id, todo.task_id, todo) %> |
        <%= link_to 'Delete', project_task_todo_path(todo.task.project.id, todo.task_id, todo), method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    </li>
  <% end %>
</ul>

<h4>Add todo</h4>
<%= render "todos/form" %>

          </div>
    </div>
 </div>
</div>