<p><%= @greeting %></p>
<p><%= @user.name %> Has proposed leave with detail below :</p>

<p>Proposer : <%= @user.name %> | <%= @user.email %> </p>
<p>Date leave : <%=  @furlough.date %></p>
<p>Reason : <%=  @furlough.reason %></p>

<p><%= link_to "Click here ", edit_furlough_url(@furlough) %>to respond the leave</p>