<p><%= @greeting %></p>
<p>Your manager <%= @manager.name %> has responded your leave proposal with detail below :</p>

<h2> Detail Proposal </h2>

<p>Proposer : <%= @staff.name %> | <%= @staff.email %> </p>
<p>Leave type : <%= @furlough.leave_type %> </p>
<p>Date leave propose : <%=  @furlough.date %></p>
<p>Reason : <%=  @furlough.reason %></p>

<h2>Leave Propsal Respond</h2>

<p> Leave status : <%= @furlough.approved %></p>
<p> Responded date : <%= @furlough.approved_at %></p>
<p> Detail leave respond reason : <%= @furlough.approved_reason %></p>


<h5> Responded by : <%= @manager.name %> | <%= @manager.email %> </h5>

<p><%= link_to "Click here ", furlough_url(@furlough) %>to see the detail respond</p>
