Late Notification

<%= "#{@greeting}  #{@user.name} " %>
<%= "Please be aware that your starting time agreed with your manager is important and needs to be respected. If you are unable to arrive at 12 AM of your starting time, please text or email your manager to let them know you will be late. It is critical that we are able to manage our client's expectations as to when staff are available. This is for every employee of SoftwareSeni no matter which team you work in. Thanks" if @user.name.present? %>
