SS Hub Notification


<%= "#{@greeting}  #{@user.name} , you started work at #{@time_sheet.date_submitted}" %>
<%= "Start : #{@time_sheet.start_time.strftime('%I:%M %p')}" if @time_sheet.start_time.present? %>
<%= "End: #{@time_sheet.end_time.strftime('%I:%M %p')}" if @time_sheet.end_time.present?%>
