<h1>SS Hub Notification</h1>

<p>
  <%= "#{@greeting}  #{@user.name} , you started work at #{@time_sheet.date_submitted}" %>
</p>
<p>
  <%= "Start : #{@time_sheet.start_time.strftime('%I:%M %p')}" if @time_sheet.start_time.present? %>
</p>
<p>
  <%= "End: #{@time_sheet.end_time.strftime('%I:%M %p')}" if @time_sheet.end_time.present? %>
</p>
