<p>Hi, <b><%= @user_t %></b></p>
 
<p><b><%= @user_s %></b> has assign you "<%= link_to @todo.name, project_task_todo_url(@project, @task, @todo) %>" todo, at "<%= link_to @task.name, project_task_url(@project, @task) %>" task, "<%= link_to @project.name, project_url(@project) %>" project.</p>

<p>Thanks</p>