<p>Hi Everybody,</p>
 
<p><b><%= @user_s %></b> has completed "<%= link_to @todo.name, project_task_todo_url(@project, @task, @todo) %>" todo, at "<%= link_to @task.name, project_task_url(@project, @task) %>" task, "<%= link_to @project.name, project_url(@project) %>" project.</p>

<p>Thanks</p>