Hi, <%= @user_t %>
 
<%= @user_s %> has assign you "<%= @todo.name %>" todo, at "<%= @task.name %>" task, "<%= @project.name %>" project.

todo url: <%= url_for(project_task_todo_path(@project, @task, @todo)) %>

Thanks