<%= simple_form_for(@furlough) do |f| %>
  <%= f.error_notification %>

  <% if current_user.role == 'manager' &&   %>
    <%= f.input :date, placeholder: 'Enter Leave date ', :as => 'string', input_html: { class: 'datepicker',value: @furlough.date }, :readonly => true, as: :text %>

    <%= f.input :reason, :readonly => true %>
  <% else %>
    <%= f.input :date, placeholder: 'Enter Leave date ', :as => 'string', input_html: { class: 'datepicker',value: @furlough.date }%>

    <%= f.input :leave_type, collection: ([['Annual Leave', 'annual_leave'], ['Change date', 'change_date'], ['Marriage Leave', 'marriage_leave'], ['Sick Leave', 'sick_leave']]), input_html: { value: @furlough.leave_type}, label:'Type'%>

    <%= f.input :reason %>
  <% end %>

  <% if can? :manage, @furlough %>
    <%= f.input :approved, collection: ([['Approve', true], ['Reject', false]]), input_html: { value: @furlough.approved}, label:'Approve status' %>
    <%= f.input :approved_at, :input_html => { :value => Time.new}, :as => :hidden %>
    <%= f.input :approved_reason, label:'Detail respond'  %>
  <% end %>

  <%= f.button :submit %>

<% end %>
