<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @furlough.user.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @furlough.date %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @furlough.reason %>
</p>

<p>
  <strong>Approve Status:</strong>
  <%= @furlough.str_approve %>
</p>

<% if @furlough.approved? %>
<p>
  <strong>Approved at:</strong>
  <%= @furlough.approved_at %>
</p>
<% end %>

<%= link_to 'Edit', edit_furlough_path(@furlough) %> |
<%= link_to 'Back', furloughs_path %>
