<div class="row-fluid">
 <div class="span12">
    <div class="widget">
      <div class="widget-title">
         <h4><i class="icon-user"></i>User</h4>
      </div>
      <div class="widget-body">
        <%= simple_form_for @user , url: users_path , method: :post,
            html: { class: 'form-horizontal' }, wrapper_mappings: { boolean: :vertical_boolean } do |f| %>
          <%= f.error_notification %>
          <%= f.input :email, placeholder: 'Enter email', input_html: { value: @user.email } %>
          <%= f.input :password, placeholder: 'Password', required: true %>
          <%= f.input :password_confirmation, placeholder: 'Password Confirmation', required: true %>
          <%= f.input :name, placeholder: 'Enter Name', class: 'controls', input_html: { value: @user.name } %>
          <%= f.input :username, placeholder: 'Enter username ', required: true, input_html: { value: @user.username } %>
          <%= f.input :avatar, placeholder: 'Enter Photo ', input_html: { value: @user.avatar } %>
          <%= f.input :role, collection: ([['Junior Staff', 'junior-staff'], ['Staff', 'staff'], ['Senior Staff', 'senior-staff'], ['Manager', 'manager'], ['Admin', 'admin']]) , input_html: { value: @user.role} %>
          <%= f.input :birthdate, placeholder: 'Enter birthdate ', :as => 'string', input_html: { class: 'datepicker',value: @user.birthdate } %>
          <%= f.input :phone_number %>
          <%= f.input :address %>
          <%= f.input :id_number %>
          <%= f.input :jamsostek_number, input_html: {value: @user.jamsostek_number} %>
          <%= f.input :join_date, placeholder: 'Enter join_date ',:as => 'string', input_html: { class: 'datepicker',value: @user.join_date} %>
          <%= f.input :npwp %>
          
          <%= f.input :manager_id, collection: (User.all.each do |user| [user.name, user.id] end) , input_html: {class: 'select2js span6', value: @user.manager_id} %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
