<div class="row-fluid">
 <div class="span">
    <!-- BEGIN SAMPLE TABLE widget-->
    <div class="widget">
       <div class="widget-title">
          <h4><i class="icon-reorder"></i>Management User <%= Time.now %></h4>
       </div>
       <div class="widget-body" style="display:block;">
        <div id="sample_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
          <div class="row-fluid">
            <div class="span6">
              <div id="sample_1_length" class="dataTables_length">
                <label>
                  <select size="1" name="sample_1_length" aria-controls="sample_1" class="input-mini">
                    <option value="10" selected="selected">10</option>
                    <option value="25">25</option><option value="50">50</option>
                    <option value="100">100</option>
                  </select> records per page</label>
                </div>
              </div>
              <div class="span6">
                <div class="dataTables_filter" id="sample_1_filter">
                  <%= search_form_for @search, url: search_users_path, method: :post do |g| %>
                    Pencarian Nama
                    <%= g.text_field :name_cont %>
                    <%= g.submit  class: "btn btn-primary" do %>
                    <i class="icon-search"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

        <div class="float-right;">
        <%= link_to  new_user_path, class: "btn btn-primary"  do %>
            <i class="icon-plus icon-white"></i> Create
        <% end %>
        </div>
        <br/>

          <table class="table table-striped table-bordered dataTable" >
            <thead>
              <tr>
                <th width="80px">Foto</th>
                <th width="250px"><%= sort_link @search, :name, "Name" %></th>
                <th><%= sort_link @search, :username, "Username" %></th>
                <th><%= sort_link @search, :email, "Email" %></th>
                <th><%= sort_link @search, :role, "Role" %></th>
                <th><%= sort_link @search, :join_date, "Join Date" %></th>
                <th><%= sort_link @search, :manager_id, "Manager" %></th>
                <th width="80px">Action</th>
                
              </tr>
            </thead>

            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td style="align:center"><%= image_tag avatar_url(user) %></td>
                  <td><%= link_to user.name, user %></td>
                  <td><%= user.username %></td>
                  <td><%= user.email %></td>
                  <td><%= user.role %></td>
                  <td><%= user.join_date %></td>
                  <td><%= user.manager_id %></td>
                  <td>
                    <div class="btn-group">
                       <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                       <ul class="dropdown-menu">
                           <li><%= link_to 'Show', user %></li>
                           <li><%= link_to 'Edit', edit_user_path(user) %></li>
                           <li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                       </ul>
                   </div>
                  </td>
                  
                  
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <div class="dataTables_info" id="sample_1_info"><%= page_entries_info @users %></div>
          </div>
          <div class="span6">
            <div class="dataTables_paginate paging_bootstrap pagination">
              <%= paginate @users %>
            </div>
          </div>
        </div>
        

      </div>
    </div>
</div>