<div class="row-fluid">
 <div class="span12">
    <div class="widget">
          <div class="widget-title">
             <h4><i class="icon-user"></i>Profile</h4>
          </div>
          <div class="widget-body">
              <div class="span3">
                  <div class="text-center profile-pic">
                      <%= image_tag avatar_url(@user,250) %>
                      
                  </div>
                  <h4>Change Display Picture</h4>
                  <%= simple_form_for(@user, url:  user_path(@user.id), html: { method: :put }) do |f| %>

                    <%= f.error_notification %>
                    <%= f.input :avatar, placeholder: 'Enter Photo ', input_html: { value: @user.avatar } %>
                    <%= f.submit "Change Display Pictures", class: "btn btn-block login-btn" %>
                  <% end %>
                  
              </div>
              <div class="span5">
                  <h4><%= @user.name %> <br><small><%= @user.role.to_s.capitalize %></small></h4>
                  <table class="table table-borderless">
                      <tbody>
                      <tr>
                          <td class="span2">Registration ID </td>
                          <td class="span2">:</td>
                          <td>
                              <%= @user.id %>
                          </td>
                      </tr>
                      <tr>
                          <td class="span2">Join Date </td>
                          <td class="span2">:</td>
                          <td>
                              <%= @user.join_date %>
                          </td>
                      </tr>
                      <tr>
                          <td class="span2">Birth Date</td>
                          <td class="span2">:</td>
                          <td>
                              <%= @user.birthdate %>
                          </td>
                      </tr>
                      <tr>
                          <td class="span2">Email</td>
                          <td class="span2">:</td>
                          <td>
                              <%= @user.email %>
                          </td>
                      </tr>
                      <tr>
                          <td class="span2">Phone</td>
                          <td>:</td>
                          <td>
                             <%= @user.phone_number %>
                          </td>
                      </tr>
                      <tr>
                          <td class="span2"> IM Contact</td>
                          <td>:</td>
                          <td>
                              <%= @user.email %>
                          </td>
                      </tr>
                      <tr>
                          <td class="span2">Jamsostek</td>
                          <td>:</td>
                          <td>
                              <%= @user.jamsostek_number %>
                          </td>
                      </tr>
                      <tr>
                          <td class="span2">NPWP</td>
                          <td>:</td>
                          <td>
                              <%= @user.npwp %>
                          </td>
                      </tr>
                      <tr>
                          <td class="span2">ID Number</td>
                          <td>:</td>
                          <td>
                              <%= @user.id_number %>
                          </td>
                      </tr>
                      </tbody>
                  </table>
                  
                  <h4>Address</h4>
                  <div class="well">
                      <address>
                          <strong><%= @user.address %></strong><br>
                          <abbr title="Phone">P:</abbr> <%= @user.phone_number %>
                      </address>
                      <address>
                          <strong><%= @user.name %></strong><br>
                          <a href="mailto:#"><%= @user.email %></a>
                      </address>
                  </div>
              </div>
              <div class="span4">
                  <h4>Change Password</h4>
                  <%= simple_form_for(@user, url: ganti_profile_user_path, html: { method: :post }) do |f| %>

                    <%= f.error_notification %>
                    <%= f.hidden_field :reset_password_token %>

                      <%= f.input :password, autofocus: true, autocomplete: "off" %>

                      <%= f.input :password_confirmation, autocomplete: "off" %>
                      <%= f.input :current_password, autocomplete: "off" %>

                    <%= f.submit "Change my password", class: "btn btn-block login-btn" %>
                  <% end %>
                  
              </div>
              <div class="space5"></div>
          </div>
    </div>
 </div>
</div>

