
        <%= simple_form_for @project, html: { class: 'form-horizontal' }, wrapper_mappings: { boolean: :vertical_boolean } do |f| %>
          <%= f.error_notification %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.association :users %>
          <%= f.button :submit %>
        <% end %>

