<!-- BEGIN PAGE CONTAINER-->
 <div class="container-fluid">
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid">
       <div class="span12">
          <div class="widget">
                <div class="widget-title">
                   <h4><i class="icon-globe"></i>Dashboard: <%= @project.name.capitalize %></h4>
                   <span class="tools">
                   <a href="javascript:;" class="icon-chevron-down"></a>
                   <a href="javascript:;" class="icon-remove"></a>
                   </span>                    
                </div>
                <div class="widget-body clearfix">
                    <div class="span6">
                      <h4>Progress : <%= @todo_persen > 0 ? @todo_persen.round(1) : 0 %> %</h4>
                      <div class="progress clearfix">
                          <div style="width: <%= @todo_persen %>%;" class="bar"></div>
                      </div>
                      <h4>Task</h4>
                      <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>To Do</th>
                            <th>Completed</th>
                            <th>Total</th>
                            <th>Progress</th>
                            <th>%</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @todos_stat.each do |stat| %>
                          <% resolved = stat.resolved_todos_by_project(@project.id) %>
                          <% unresolved = stat.unresolved_todos_by_project(@project.id) %>
                          <% total = stat.total_todos_by_project(@project.id) %>
                        <tr>
                            <td><%= stat.name %></td>
                            <td>
                              <span class="label <%= unresolved > resolved ? 'label-important' : 'label-important' %>">
                                <%= unresolved %>
                              </span>
                            </td>
                            <td>
                              <span class="label <%= unresolved < resolved ? 'label-success' : 'label-important' %>">
                                <%= resolved %>
                              </span>
                            </td>
                            <td><%= total %></td>
                            <td>
                              <div class="progress progress-important">
                                <div style="width: <%=  (resolved > 0 && total > 0 ) ? ( resolved.to_f / total.to_f * 100 ).round  : 0 %>%" class="bar"></div>
                              </div>
                            </td>
                            <td><%=  (resolved > 0 && total > 0 ) ? ( resolved.to_f / total.to_f * 100 ).round  : 0 %>%</td>
                            
                        </tr>
                        <% end %>
                        </tbody>
                    </table>
                    <h4>To Do</h4>
                      <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>To Do</th>
                            <th>Create</th>
                            <th>PIC</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @todos.each do |todo| %>
                        <tr>
                            <td><%= link_to todo.name, project_task_path(@project.id, todo.task_id) %></td>
                            <td><%= todo.created_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
                            <td>
                                <span class=""><%= todo.users.first.name %></span>
                            </td>
                            <td>
                                <span class='<%= todo.completed.present? ? "label label-success" : "label red-color"  %>'>
                                  <%= todo.completed.present? ? "Resolved" : "Not Resolved"  %>
                                </span>
                            </td>
                        </tr>
                        <% end %>
                        </tbody>
                    </table>
                    </div>
                    <div class="span6 circle-state-overview">
                      <h4>Summary</h4>
                      <div class="span3 responsive clearfix" data-tablet="span3" data-desktop="span3">
                          <div class="circle-wrap center">
                              <div class="stats-circle turquoise-color">
                                  <i class="icon-user" ></i>
                              </div>
                              <p class="align:center">
                                  <strong><%= @person %></strong>
                                  Person
                              </p>
                          </div>
                      </div>
                      <div class="span3 responsive clearfix" data-tablet="span3" data-desktop="span3">
                          <div class="circle-wrap">
                              <div class="stats-circle red-color">
                                  <i class="icon-thumbs-down red-color"></i>
                              </div>
                              <p>
                                  <strong><%= @todo %></strong>
                                  To Do
                              </p>
                          </div>
                      </div>
                      <div class="span3 responsive clearfix" data-tablet="span3" data-desktop="span3">
                          <div class="circle-wrap">
                              <div class="stats-circle green-color">
                                  <i class="icon-thumbs-up green-color"></i>
                              </div>
                              <p>
                                  <strong><%= @todo_completed %></strong>
                                  Completed
                              </p>
                          </div>
                      </div>
                      <div class="span12">
                      <h4>Stats</h4>
                      <div data-desktop="span4" data-tablet="span3" class="span3 responsive">
                          <div class="metro-overview turquoise-color clearfix">
                              <div class="display">
                                  <i class="icon-comment-alt"></i>
                                  <div class="percent"><%= @discussion %></div>
                              </div>
                              <div class="details">
                                  <div class="numbers"><%= @discussion %></div>
                                  <div class="title">Comment</div>
                                  <div class="progress">
                                      <div style="width: <%= @discussion %>%" class="bar"></div>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div data-desktop="span4" data-tablet="span3" class="span3 responsive">
                          <div class="metro-overview red-color clearfix">
                              <div class="display">
                                  <i class="icon-tag"></i>
                                  <div class="percent"><%= @todo_all %></div>
                              </div>
                              <div class="details">
                                  <div class="numbers"><%= @todo_all %></div>
                                  <div class="title">Total To Do</div>
                                  <div class="progress">
                                      <div style="width: <%= @todo_all %>%" class="bar"></div>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div data-desktop="span4" data-tablet="span3" class="span3 responsive">
                          <div class="metro-overview green-color clearfix">
                              <div class="display">
                                  <i class="icon-calendar"></i>
                                  <div class="percent"><%= @discussion %></div>
                              </div>
                              <div class="details">
                                  <div class="numbers">Project Start</div>
                                  <div class="title"><%= @project.created_at.strftime('%d %B %Y') %></div>
                                  <div class="progress">
                                      <div style="width: 10%" class="bar"></div>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div data-desktop="span4" data-tablet="span3" class="span3 responsive">
                          <div class="metro-overview blue-color clearfix">
                              <div class="display">
                                  <i class="icon-calendar"></i>
                                  <div class="percent"></div>
                              </div>
                              <div class="details">
                                  <div class="numbers">Time Left</div>
                                  <div class="title"><%= distance_of_time_in_words @project.created_at, Time.now %></div>
                                  <div class="progress">
                                      <div style="width: 10%" class="bar"></div>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="span10">
                          <h4>Last Comment</h4>
                          <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Discussion</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% @discussion_last.each do |discussion| %>
                            <tr>
                                <td>
                                  <%= link_to discussion.content.truncate(10),project_task_todo_path(@project.id, Todo.find(discussion.discussrefer_id).task_id, discussion.discussrefer_id) %> <br/>by 
                                  <%= discussion.user.name %> <br/> at 
                                  <%= discussion.created_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
                            </tr>
                            <% end %>
                            </tbody>
                        </table>
                        </div>
                      </div>
                </div>
          </div>
       </div>
    </div>
    <!-- END PAGE CONTENT-->         
 </div>
 <!-- END PAGE CONTAINER-->