<div class="row-fluid">
 <div class="span12">
    <div class="widget">
      <div class="widget-title">
         <h4><i class="icon-book"></i>Editing Project</h4>
      </div>
      <div class="widget-body">

<%= render 'form' %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>

      </div>
    </div>
  </div>
</div>