<!-- BEGIN GALLERY MANAGER PORTLET-->
              <div class="widget">
                <div class="widget-title">
                  <h4><i class="icon-camera-retro"></i>Projects</h4>
                  <span class="tools">
                  <a href="javascript:;" class="icon-chevron-down"></a>
                </div>
                <div class="widget-body">
                  <!-- BEGIN GALLERY MANAGER PANEL-->
                  <div class="row-fluid">
                    <div class="span4">
                      <%= link_to  new_project_path, class: "btn btn-primary"  do %>
                            <i class="icon-plus icon-white"></i> Project
                        <% end %>
                    </div>
                    <div class="span8">
                      <div class="pull-right">
                        <%= search_form_for @search, url: projects_path do |g| %>
                          <%= g.text_field :name_cont, placeholder: "Search Project" %>
                          <%= g.submit  class: "btn btn-primary" do %>
                          <i class="icon-search"></i>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <!-- END GALLERY MANAGER PANEL-->
                  <!-- BEGIN GALLERY MANAGER LISTING-->
                  <div class="row-fluid circle-state-overview  no-padding no-margin" style="margin: 0 auto !important;">
                    <% @projects.each do |project| %>
                    <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
        <div class="circle-wrap">
            <div class="stats-circle turquoise-color">
              <%= link_to  project , style: "color:white;text-decoration: none;" do %>
                <i class="icon-pinterest"></i>
                <% end %>
            </div>
            <p>
              <%= link_to  project , style: "color:white;text-decoration: none;" do %>
                <strong><%= project.name %></strong>
                <% end %>
                <%= link_to  project , style: "color:#333;text-decoration: none;" do %>
                <i class="small">Last Updated on <%= Time.now.strftime('%d %B %Y') %></i>
                <% end %>
                <i class="small">
                <% project.users.each do |user| %>
                    <%= user.name %>,
                  <% end %>
                </i>
            </p>
        </div>
    </div>
                    <% end %>
                  </div>
                  <!-- END GALLERY MANAGER LISTING-->
                </div>
              </div>
              <!-- END GALLERY MANAGER PORTLET-->