<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid">
   <div class="span12">
      <div class="widget">
            <div class="widget-title">
               <h4><i class="icon-pinterest"></i><%= @project.name %></h4>
            </div>
            <div class="widget-body">
                <div class="span3">
                    <div class="text-center profile-pic">
                        <div class="circle-wrap center">
                              <div class="stats-circle turquoise-color">
                                  <i class="icon-pinterest" ></i>
                              </div>
                              <p class="align:center">
                                  <strong><%= @project.name %></strong>
                              </p>
                          </div>
                    </div>
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="javascript:void(0)"><i class="icon-group"></i> Members</a></li>
                        <% @project.users.each do |user| %>
                          <li><a href="javascript:void(0)"><i class="icon-user"></i> <%= user.name.camelize %></a></li>
                        <% end %>
                    </ul>
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                          <%= link_to dashboard_project_path(@project) do %>
                            <i class="icon-bar-chart"></i> Dashboard
                          <% end %>
                        </li>
                        <li><a href="javascript:void(0)"><i class="icon-paper-clip"></i> Tasks</a></li>
                        <li><a href="javascript:void(0)"><i class="icon-comments"></i> Discussions</a></li>
                    </ul>
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                          <%= link_to  edit_project_path(@project), class: "" do %>
                          <i class="icon-pencil"></i> Update
                          <% end %>
                        </li>
                        <li>
                          <%= link_to project_path(@project), method: :delete, data: { confirm: 'Are you sure delete this project?' } do  %>
                            <i class="icon-trash"></i> Destroy
                          <% end %>
                        </li>
                    </ul>
                </div>
                <div class="span6">
                    <h4>Timeline <br/></h4>
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td class="span2">Start Date :</td>
                            <td><%= @project.created_at.strftime('%d %B %Y') %></td>
                        </tr>
                        <tr>
                            <td class="span2">End Date :</td>
                            <td>Undefined</td>
                        </tr>
                        <tr>
                            <td class="span2">Time Left :</td>
                            <td><%= distance_of_time_in_words @project.created_at, Time.now %></td>
                        </tr>
                        <tr>
                            <td class="span2">Project Manager :</td>
                            <td><%= @project.users.where("users.role='manager' or users.role='senior_staff'").first.name unless @project.users.where("users.role='manager' or users.role='senior_staff'").nil? %></td>
                        </tr>
                        <tr>
                            <td class="span2">Member :</td>
                            <td><%= @project.users.count %></td>
                        </tr>
                        </tbody>
                    </table>
                    <h4>Description</h4>                    
                    <div class="well">
                        <address>
                            <strong><%= @project.description %></strong><br>
                        </address>
                    </div>
                            <!-- BEGIN CHAT PORTLET-->
                            <div class="widget" id="">
                                <div class="widget-title">
                                    <h4><i class="icon-comments-alt"></i> Discussion</h4>
                                </div>
                                <div class="widget-body">
                                    <ul class="chats normal-chat">
                                      <% @project.discussions.each do |discussion| %>
                                        <li class="in">
                                          <%= image_tag avatar_url(User.find(discussion.user_id)),  :class => "avatar" %>
                                          
                                                <div class="message ">
                                                    <span class="arrow"></span>
                                                    <a href="#" class="name"><%= discussion.user.name.camelize %></a>
                                                    <span class="datetime">at <%= discussion.created_at.strftime('%d %B, %Y %H:%M') %></span>
                                                    <span class="body">
                                                      <%= discussion.content %>
                                                    </span>
                                                    <%= link_to '[edit]', edit_project_discussion_path(discussion.discussrefer_id, discussion.id) %>
                                                      <%= link_to '[x]', project_discussion_path(discussion.discussrefer_id, discussion.id) , method: :delete, data: { confirm: 'Are you sure?' } %>
                                                </div>
                                            </li>
                                      <% end %>
                                        </ul>
                                        <%= simple_form_for([@project, @discussion]) do |f| %>
                                    <div class="chat-form">
                                        <div class="input-cont">
                                          <%= f.input :content, :class => "btn btn-primary", :as => "string", :placeholder => "Type an opinion here...", :label => false %>
                                        </div>
                                        <div class="btn-cont">
                                          <%= f.submit "Send", :class => "btn btn-primary" , :style => "margin-top: 0px"%>
                                        </div>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                            <!-- END CHAT PORTLET-->
                </div>
                <div class="span3">
                    <h4>Project Status</h4>
                    <div class="span10">
                      <span class="label label-inverse clearfix"><%= @todo_persen > 0 ? @todo_persen.round(1) : 0 %> %</span><br/><br/>
                          <div class="progress progress-success progress-striped">
                              <div style="width: <%= @todo_persen > 0 ? @todo_persen.round(1) : 0 %>%" class="bar"></div>
                          </div>
                    </div>
                    <div class="span10">
                    <h4>Task Updated</h4>
                    <%= simple_form_for([@project, @task]) do |f| %>
                      <div class="chat-form">
                          <div class="input-cont">
                            <%= f.input :name, :class =>"span8", :as => "string", :placeholder => "Add Task here..", :label => false %>
                          </div>
                          <div class="btn-cont">
                            <%= f.submit "+", :class => "btn btn-primary", :style => "margin-top: 0px" %>
                          </div>
                      </div>
                      <% end %>
                    <ul class="icons push">
                    <% @project.tasks.last(5).each do |task| %>
                        <li><i class="icon-paper-clip"></i> <strong><%= link_to task.name, project_task_path(task.project, task) %></strong><br/><em><%= task.description.truncate(20) unless task.description.nil?%></em><br>
                          <%= link_to '[edit]', edit_project_task_path(task.project_id, task.id) %> 
                          <%= link_to '[x]', project_task_path(task.project_id, task.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                          <%= link_to "[#{task.todos.count} to do's]", project_task_path(task.project_id, task.id) %>
                        </li>
                        <% end %>
                    </ul>
                    <h4>Similiar Projects</h4>
                    <ul class="">
                      <% current_user.projects.where('projects.id <> ?', @project.id).each do |project| %>
                        <li>
                          <%= link_to project_path(project) do %>
                           <strong><%= project.name %></strong> 
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <div class="space5"></div>
            </div>
      </div>
   </div>
</div>
<!-- END PAGE CONTENT-->
