<%= simple_form_for(@time_sheet) do |f| %>
  <% if @time_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_sheet.errors.count, "error") %> prohibited this time_sheet from being saved:</h2>

      <ul>
      <% @time_sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%# raise @user.submitted_end?.to_yaml %>

  <% if @user.submitted_start? && !@user.submitted_end? %>
    <%# f.input :end_time, :input_html => { :value => Time.new}, :as => :hidden %>
    <%= link_to 'Finish', finish_time_sheets_path, :method => :delete, :class => "btn btn-primary"  %>  
    
  <% elsif @user.submitted_start? && @user.submitted_end? %>
    <%= link_to 'Continue working', continue_working_time_sheets_path, :method => :delete, :class => "btn btn-primary"  %>
  <% else %>
  
    <%= f.input :date_submitted, :input_html => { :value => Time.new}, :as => :hidden %>
    <%= f.input :start_time, :input_html => { :value => Time.new}, :as => :hidden %>
    <%= f.input :end_time, :as => :hidden, :include_blank => true%>
      <div class="actions">
        <%= f.button :submit, "Start Working", :class => "btn btn-primary" do %>
          <i class="icon-bell"></i>
        <% end %>
      </div>
  <% end %>
<% end %>
