<div class="row-fluid">
 <div class="span6">
    <div class="widget">
          <div class="widget-title">
             <h4><i class="icon-user"></i>My Attendance</h4>
          </div>
          <div class="widget-body">
              <% if (@user.submitted_start? && !@user.submitted_end?) || (@user.submitted_start? && @user.submitted_end?) %>
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td class="span2">Working Day</td>
                    <td>
                      : <%= Time.now.strftime('%a %d/%m/%y') %>
                    </td>
                  </tr>
                  <tr>
                    <td class="span2">Start</td>
                    <td>: <%= @user.time_sheets.today.last.start_time.strftime("%T") %></td>
                  </tr>
                  <tr>
                    <td class="span2">Working For</td>
                    <td>: <%= distance_of_time_in_words(@user.time_sheets.today.last.start_time.strftime("%T"), Time.now) %></td>
                  </tr>
                </tbody>
              </table>
              <% end %>
              <%= render 'form' %> 
          </div>      
    </div>
    <div class="widget">
      <div class="widget-title">
         <h4><i class="icon-road"></i>Propose Leave</h4>
      </div>
      <div class="widget-body form">
        <div class="form-horizontal">
              <%= render 'furloughs/form' %>
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="widget">
      <div class="widget-title">
         <h4><i class="icon-user"></i>Attendance History <% if current_user.present? %><%= current_user.name %><% end %></h4>
      </div>
      <div class="widget-body">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Working Day</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Working for</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <% @current_user.time_sheets.each do |time_sheet| %>
              <tr>
                <td><%= time_sheet.date_submitted.strftime("%a, %e %b %Y") if time_sheet.date_submitted.present? %></td>
                <td><%= time_sheet.start_time.strftime("%T") if time_sheet.start_time.present? %></td>
                <td><%= time_sheet.end_time.present? ? time_sheet.end_time.strftime("%T") : "No Data" %></td>
                <td>
                  <%= time_sheet.end_time.present? ? distance_of_time_in_words(time_sheet.format_start_time, time_sheet.format_end_time) : "Still On Board" %>
                </td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Show', time_sheet %></li>
                      <li><%= link_to 'Edit', edit_time_sheet_path(time_sheet) %></li>
                      <li><%= link_to 'Destroy', time_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
          
       <div class="space5"></div>   
      </div>
    </div>
  </div>
</div>

 
