<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @time_sheet.user.name %>
</p>

<p>
  <strong>Date submitted:</strong>
  <%= @time_sheet.date_submitted %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @time_sheet.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @time_sheet.end_time %>
</p>

<%= link_to 'Edit', edit_time_sheet_path(@time_sheet) %> |
<%= link_to 'Back', time_sheets_path %>
