<div id="login">
    <!-- BEGIN LOGIN FORM -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="lock">
          <i class="icon-lock"></i>
      </div>
      <div class="control-wrap">
          <h4>User Login</h4>
          <div class="control-group">
              <div class="controls">
                  <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span><%= f.text_field :login, autofocus: true, placeholder: "Email or username" %>
                    
                  </div>
              </div>
          </div>
          <div class="control-group">
              <div class="controls">
                  <div class="input-prepend">
                      <span class="add-on"><i class="icon-key"></i></span><%= f.password_field :password, autocomplete: "off" , placeholder: "Password" %>
                  </div>
                  <div class="mtop10">
                        <% if devise_mapping.rememberable? -%>
                          <div class="block-hint pull-left">
                            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
                          </div>
                        <% end -%>

                      <div class="block-hint pull-right">
                          <%= render "devise/shared/links" %>
                      </div>
                  </div>

                  <div class="clearfix space5"></div>
              </div>

          </div>
      </div>
      <%= f.submit "Sign in", class: "btn btn-block login-btn" %>
    <% end %>
    <!-- END LOGIN FORM -->        
  </div>