<div class="row-fluid">
 <div class="span">
    <!-- BEGIN SAMPLE TABLE widget-->
    <div class="widget">
       <div class="widget-title">
          <h4><i class="icon-reorder"></i>My On Leave List</h4>
       </div>
       <div class="widget-body" style="display:block;">
        <div id="sample_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
          <div class="row-fluid">
            <div class="span6">
              <div id="sample_1_length" class="dataTables_length">
                <label>
                  <select size="1" name="sample_1_length" aria-controls="sample_1" class="input-mini">
                    <option value="5">5</option>
                    <option value="10" selected="selected">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                  </select> records per page</label>
                </div>
              </div>
              <div class="span6">
                <div class="dataTables_filter" id="sample_1_filter">
                  <%= search_form_for @search, url: staff_leaves_path do |g| %>
                    Search by Reason
                    <%= g.text_field :reason_cont %>
                    <%= g.submit  class: "btn btn-primary" do %>
                    <i class="icon-search"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

          <table class="table table-striped table-bordered dataTable" >
            <thead>
              <tr>
                <th><%= sort_link @search, :date, "Staff" %></th>
                <th><%= sort_link @search, :date, "Date" %></th>
                <th><%= sort_link @search, :reason, "Reason" %></th>
                <th><%= sort_link @search, :approved_at, "Date Approved" %></th>
                <th><%= sort_link @search, :approved_at, "Approved Status" %></th>
                <th width="80px">Action</th>
                
              </tr>
            </thead>

            <tbody>
              <% @furloughs.each do |furlough| %>
                <tr>
                  <td><%= furlough.user.name %></td>
                  <td><%= furlough.date %></td>
                  <td><%= furlough.reason %></td>
                  <td><%= furlough.approved ? furlough.approved_at : '-' %></td>
                  <td>

                    <% if furlough.approved?  %>
                      Approved
                    <% elsif !furlough.approved? %>
                      Rejected
                    <% else %>
                      Not Responded yet
                    <% end %>
                  </td>
                  <td>
                    <div class="btn-group">
                       <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                       <ul class="dropdown-menu">
                           <li><%= link_to 'Show', furlough %></li>
                           <li><%= link_to 'Edit', edit_furlough_path(furlough) %></li>
                           <li><%= link_to 'Destroy', furlough, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                       </ul>
                   </div>
                  </td>
                  
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="row-fluid">
          <!-- <div class="span6">
            <div class="dataTables_info" id="sample_1_info"><%# page_entries_info @manager.furloughs %></div>
          </div>
          <div class="span6">
            <div class="dataTables_paginate paging_bootstrap pagination">
              <%# paginate @manager.furloughs %>
            </div>
          </div> -->
        </div>
        

      </div>
    </div>
</div>
