<%# raise @todo.to_yaml %>
<%= simple_form_for([@project, @task, @todo, @discussion]) do |f| %>
  <% if @discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>

      <ul>
      <% @discussion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :content%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>