<%= simple_form_for([@project, @task, @todo]) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name, label: 'Todo' %>
  </div>
  <div class="field">
    <%= f.association :users, required: true, label: 'Todo for', collection: @project.users, :input_html => {:multiple => false} %>
  </div>
  <div class="field">
    <%= f.input :project_id, :as => :hidden, :input_html => { :value => @project.id } %>
    <%= f.input :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
