<div class="row-fluid">
 <div class="span12">
    <div class="widget">
      <div class="widget-title">
         <h4><i class="icon-book"></i>Editing Todo</h4>
      </div>
      <div class="widget-body">

<p>
  <strong>Project Name:</strong>
  <%= link_to @project.name, project_path(@project) %>
</p>
<hr>
<p>
  <strong>Task Name:</strong>
  <%= link_to @task.name, project_task_path(@project, @task) %>
</p>
<hr>

<%= render 'form' %>

<%= link_to 'Show Todo', project_task_todo_path(@project, @task, @todo) %> |
<%= link_to 'Back to Task', project_task_path(@project, @task) %>

      </div>
    </div>
  </div>
</div>