<h1>Listing todos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Task</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task.todos.each do |todo| %>
      <tr>
        <td><%= todo.name %></td>
        <td><%= todo.description %></td>
        <td><%= todo.task_id %></td>
        <td><%= link_to 'Show', project_task_todo_path(todo.task.project.id, todo.task_id, todo) %></td>
        <td><%= link_to 'Edit', edit_project_task_todo_path(todo.task.project.id, todo.task_id, todo) %></td>
        <td><%= link_to 'Destroy', project_task_todo_path(todo.task.project.id, todo.task_id, todo), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_project_task_todo_path %>
