<div class="row-fluid">
  <div class="span12">
    <div class="widget">
      <div class="widget-title">
          <h4><i class="icon-book"></i>Detail Todo</h4>
      </div>
      <div class="widget-body">
        <p>
          <strong>Project Name:</strong>
          <%= link_to @project.name, project_path(@project) %>
        </p>
        <hr>
        <p>
          <strong>Task Name:</strong>
          <%= link_to @task.name, project_task_path(@project, @task) %>
        </p>
        <hr>

        <p>
          <strong>Todo:</strong>
          <%= @todo.name %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @todo.description %>
        </p>
        <p>Todo for: <%= @todo.users.map(&:name).join(', ') %></p>
        <p>
        <% if @todo.completed %>
        Done by: <%= @todo.user.try(:name) %><br>
        At: <%= @todo.completed_at.strftime('%a, %b %e, %Y %R') %>
        <% else %>
        <%= link_to 'Completed!!', project_task_todo_completed_path(@todo.task.project, @todo.task, @todo), method: :post, data: { confirm: 'Sure completed?' }, class: "btn btn btn-primary" %>
        <% end %>
        </p>

        <%= link_to 'Edit', edit_project_task_todo_path(@todo.task.project.id, @todo.task_id, @todo) %> |
        <%= link_to 'Back to Task', project_task_path(@todo.task.project, @todo.task) %>

      </div>
      <h4>Discussions</h4>
      <ul>
        <% @todo.discussions.each do |discussion| %>
          <li>
            <p>Commmented By <b><%= discussion.user.name %></b></p>
            <p><%= discussion.content %></p>
            <!-- <p><%= link_to 'Edit', edit_project_discussion_path(discussion.discussrefer_id, discussion.id) %> | <%= link_to 'Delete', project_discussion_path(discussion.discussrefer_id, discussion.id), method: :delete, data: { confirm: 'Are you sure?' } %></p> -->
          </li>
        <% end %>
      </ul>
      <%= render 'form_discussions' %>
    </div>
  </div>
</div>